.loader-wrapper {
    background: transparent;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loder-crcil {
    box-shadow: 3px 0 0px rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
  animation: loader 1s linear infinite;
}

.loader-text {
    box-shadow: 0 0 2px #afaaaa;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-family: fantasy;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #000000;
}

@keyframes loader {
  0% {transform: rotate(0deg);}
    0% {transform: rotate(360deg);}
}