* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0%;
    margin: 0;
    /* background-image: url("./Rectangle.png"); */
    background: url("./Rectangle5.png");
    background-repeat: repeat;
}

.full {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(224, 224, 224, 0.197);
    display: none;
}

.imageHome {
    /* margin-top: 20px; */
    /* position: absolute; */
    height: 100vh;
    padding-left: 60px;
    padding-right: 60px;
    position: fixed;
    left: 0;
    background-color: #7e7e7e2f;
    /* left: 00; */
}

.homepg {
    margin-bottom: 350px;
    margin-left: 200px;
}

.yscroll {
    overflow-y: auto;
}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.main_scrn {
    position: relative;
    /* background-color: #3A3A3A; */
    /* background-color: #161616d1; */
    height: 100vh;
}

.displaynone {
    display: none;
}

.home_logo {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    font-family: sans-serif;
    color: white;
    height: 100%;
}
.home_logo div {
    margin-top: 100px;
}

.ethosiitg {
    font-size: 90px;
    margin-bottom: 20px;
}

.saptanglabs {
    font-size: 70px;
    margin-top: 10px;
    color: rgb(255, 73, 73);
    max-width: 500px;
    margin-bottom: 5px;
}

.saptanglabs2 {
    font-size: 70px;
    margin-top: 10px;
    color: rgb(255, 163, 163);
    max-width: 500px;
}

.colorreset {
    /* background-color: transparent; */
}


.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: auto;
}


.about_pg {
    /* border: 1px solid white; */
    width: 900px;
    height: fit-content;
    margin-top: 150px;
    margin-left: 30px;
    border-radius: 20px;
    font-family: sans-serif;
    color: white;
    padding: 20px;
    font-size: 15px;

    background-color: #6b6b6b5c;
}